<a href="https://colab.research.google.com/github/DexterWilliamson/school_work/blob/master/DexterWilliamson_Making_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-19 10:54:03--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.88.77.24, 35.165.72.211, 34.210.161.248
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.88.77.24|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [       <=>          ]  22.05M  2.91MB/s    in 8.7s

2020-05-19 10:54:12 (2.55 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 60 months"," 16.14%","243.93","C","C4","Sale Consultant","2 years","RENT","90000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","079xx","NJ","8.8","0","Mar-1991","1","","43","11","1","10582","58.5%","32","w","0.00","0.00","10661.0577272374","10661.06","10000.00","661.06","0.0","0.0","0.0","May-2019","9698.79","","Dec-2019","0","","1","Individual","","","","0","0","15470","1","1","0","1","18","4888","65","1","3","2969","60","18100","2","0","2","4","1719","4906","67.3","0","0","133","333","2","2","1","2","","1","","0","4","6","5","15","6","8","23","6","11","0","0","0","1","100","80","1","0","25600","15470","15000","7500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 11.80%","215.28","B","B4","Educator ","2 years","RENT","46500","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","352xx","AL","21.01","0","Aug-2011","1","61","","24","0","6741","41.6%","30","w","4066.26","4066.26","3222.81","3222.81","2433.74","789.07","0.0","0.0","0.0","Mar-2020","215.28","Apr-2020","Apr-2020","0","61","1","Individual","","","","0","0","40223","4","12","2","2","5","33482","97","7","12","3662","79","16200","2","0","4","14","1749","7694","42.2","0","0","88","72","1","1","0","3","","5","61","2","6","10","6","6","14","11","16","10","24","0","0","0","9","93.3","0","0","0","50845","40223","13300","34645","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4500","4500","4500"," 36 months"," 11.31%","147.99","B","B3","Accounts Examiner III","10+ years","RENT","38500","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","786xx","TX","4.64","0","Dec-2003","0","25","","12","0","4472","15.3%","25","w","0.00","0.00","4549.2171485504","4549.22","4500.00","49.22","0.0","0.0","0.0","Feb-2019","4553.46","","Feb-2020","0","25","1","Individual","","","","0","306","29137","2","1","1","1","3","24665","100","3","7","3612","54","29200","0","3","3","8","2428","10735","28.9","0","0","180","69","2","2","0","2","","6","","1","3","5","5","6","10","11","15","5","12","0","0","0","4","91.7","0","0","0","53795","29137","15100","24595","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Charged Off","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","0.00","0.00","5848.05","5848.05","3024.11","2823.94","0.0","0.0","0.0","Oct-2019","587.82","","Apr-2020","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 27.27%","920.91","E","E5","Claims Analyst","1 year","RENT","50000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","857xx","AZ","23.62","0","Dec-1997","1","","","10","0","1258","10.7%","16","w","25780.25","25780.25","13745.47","13745.47","4219.75","9525.72","0.0","0.0","0.0","Mar-2020","920.91","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","27364","1","4","1","2","6","26106","76","0","1","1258","59","11800","2","0","1","3","2736","8842","12.5","0","0","84","252","16","6","0","16","","6","","0","1","1","4","4","7","6","9","1","10","0","0","0","1","100","0","0","0","46300","27364","10100","34500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.14%","352.27","C","C4","Training Manager","10+ years","MORTGAGE","94800","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","325xx","FL","28.59","0","Jan-2009","1","","","18","0","49976","65.8%","37","w","6406.91","6406.91","5270.6","5270.60","3593.09","1677.51","0.0","0.0","0.0","Mar-2020","352.27","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","361716","1","6","2","4","6","45778","64","0","1","8297","65","75900","1","15","4","6","20095","12249","49.2","0","0","107","119","15","6","4","36","","0","","0","2","8","3","7","16","11","17","8","18","0","0","0","3","100","33.3","0","0","415969","95754","24100","71489","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 12.98%","568.58","B","B5","Tire builder","10+ years","MORTGAGE","85000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","356xx","AL","36.67","1","Oct-1993","1","10","","14","0","26630","53.3%","27","w","20172.09","20172.09","8501.66","8501.66","4827.91","3673.75","0.0","0.0","0.0","Mar-2020","568.58","Apr-2020","Apr-2020","0","40","1","Joint App","140000","23.08","Not Verified","0","56","206980","1","7","1","3","3","69513","81","1","1","17292","68","50000","1","3","1","4","14784","18581","57.7","0","0","186","185","9","3","4","9","10","3","10","1","4","5","4","5","13","6","10","5","14","0","0","0","2","85.2","0","0","0","275691","96143","43900","99691","48711","Oct-1993","1","4","16","56.5","8","12","0","0","49","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10400","10400","10400"," 36 months"," 12.98%","350.32","B","B5","Program Support Assistant ","10+ years","MORTGAGE","56099","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","800xx","CO","20.92","0","Jul-2013","2","32","67","8","1","1669","9.8%","10","w","6549.15","6549.15","5243.55","5243.55","3850.85","1392.70","0.0","0.0","0.0","Mar-2020","350.32","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","39564","4","2","1","2","1","37895","92","3","6","725","36","17000","1","0","4","8","4946","15331","9.8","0","0","65","57","1","1","0","1","","0","32","0","3","3","6","6","3","6","7","3","8","0","0","0","4","90","0","1","0","60709","39564","17000","43709","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3082.01","3082.01","3413.23","3413.23","2517.99","895.24","0.0","0.0","0.0","Apr-2020","190.21","May-2020","Apr-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","5557.25","5557.25","6233.34","6233.34","4442.75","1790.59","0.0","0.0","0.0","Apr-2020","346.76","May-2020","Apr-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2751.79","2751.79","3053.17","3053.17","2248.21","804.96","0.0","0.0","0.0","Apr-2020","169.83","May-2020","Apr-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5411.74","5276.45","5882.88","5735.81","4588.26","1294.62","0.0","0.0","0.0","Apr-2020","327.68","May-2020","Apr-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5626.39","5626.39","6400.05","6400.05","4373.61","2026.44","0.0","0.0","0.0","Apr-2020","356.08","May-2020","Apr-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [0]:
# Read in the CSV
import pandas as pd
import numpy as np

df = pd.read_csv('LoanStats_2018Q4.csv')

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            60 months  16.14%  243.93      C     C4        Sale Consultant       2 years    RENT           90000      Not Verified        Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation      079xx    NJ         8.8   0           Mar-1991         1              NaN                    43                     11       1       10582     58.5%      32        w                   0.00      0.00          10661.0577272374 10661.06        10000.00        661.06        0.0                0.0        0.0                     May-2019     9698.79         NaN          Dec-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            15470       1           1           0           1           18                 4888         65      1           3           2969       60       18100            2      0           2            4                    1719        4906           67.3    0                        0           133                333                  2                     2              1        2                    NaN                      1                     NaN                            0                     4              6               5           15        6         8             23            6                   11       0                0            0                  1                  100            80               1                    0         25600           15470             15000          7500                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              6500      6500        6500             36 months  11.80%  215.28      B     B4        Educator              2 years    RENT           46500      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      352xx    AL         21.01 0           Aug-2011         1              61                     NaN                    24       0       6741      41.6%      30        w                   4066.26   4066.26       3222.81          3222.81         2433.74         789.07        0.0                0.0        0.0                     Mar-2020     215.28          Apr-2020     Apr-2020           0                          61                          1           Individual       NaN              NaN       NaN                       0              0            40223       4           12          2           2           5                  33482        97      7           12          3662       79       16200            2      0           4            14                   1749        7694           42.2    0                        0           88                 72                   1                     1              0        3                    NaN                      5                     61                             2                     6              10              6           6         14        11            16            10                  24       0                0            0                  9                  93.3           0                0                    0         50845           40223             13300          34645                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4500      4500        4500             36 months  11.31%  147.99      B     B3        Accounts Examiner III 10+ years  RENT           38500      Not Verified        Dec-2018 Fully Paid  n          NaN NaN  credit_card        Credit card refinancing 786xx    TX         4.64  0           Dec-2003         0              25                     NaN                    12       0       4472      15.3%      25        w                   0.00      0.00          4549.2171485504  4549.22         4500.00         49.22         0.0                0.0        0.0                     Feb-2019     4553.46         NaN          Feb-2020           0                          25                          1           Individual       NaN              NaN       NaN                       0              306          29137       2           1           1           1           3                  24665        100     3           7           3612       54       29200            0      3           3            8                    2428        10735          28.9    0                        0           180                69                   2                     2              0        2                    NaN                      6                     NaN                            1                     3              5               5           6         10        11            15            5                   12       0                0            0                  4                  91.7           0                0                    0         53795           29137             15100          24595                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  14.47%  587.82      C     C2        teacher               10+ years  OWN            110000     Not Verified        Dec-2018 Charged Off n          NaN NaN  credit_card        Credit card refinancing 117xx    NY         26.43 1           Jan-1997         0              7                      NaN                    23       0       39053     45.7%      49        w                   0.00      0.00          5848.05          5848.05         3024.11         2823.94       0.0                0.0        0.0                     Oct-2019     587.82          NaN          Apr-2020           0                          7                           1           Individual       NaN              NaN       NaN                       0              0            95648       0           3           0           0           35                 54716        23      1           2           8422       39       85500            0      1           0            2                    4159        34837          44.5    0                        0           263                246                  10                    10             0        48                   NaN                      NaN                   NaN                            0                     9              13              10          14        21        19            27            13                  23       0                0            1                  1                  98             10               0                    0         179321          95648             62800          91424                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Sum null values by column and sort from least to greatest
pd.set_option('display.max_rows', 200)
df.isnull().sum().sort_values()

inq_fi                                             2
mo_sin_old_rev_tl_op                               2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
open_il_12m                                        2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_rcnt_rev_tl_op                              2
collections_12_mths_ex_med                         2
mo_sin_rcnt_tl                                     2
num_accts_ever_120_pd                              2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
num_tl_30dpd                                       2
num_sats                                           2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
mort_acc                                           2
last_pymnt_amnt                                    2
max_bal_bc                                         2
collection_recovery_fee                            2
earliest_cr_line                                   2
delinq_2yrs                                        2
addr_state                                         2
zip_code                                           2
title                                              2
purpose                                            2
pymnt_plan                                         2
loan_status                                        2
issue_d                                            2
inq_last_6mths                                     2
verification_status                                2
home_ownership                                     2
sub_grade                                          2
grade                                              2
installment                                        2
int_rate                                           2
term                                               2
funded_amnt_inv                                    2
funded_amnt                                        2
loan_amnt                                          2
annual_inc                                         2
open_acc                                           2
debt_settlement_flag                               2
total_rec_int                                      2
recoveries                                         2
total_rec_late_fee                                 2
total_rec_prncp                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
total_acc                                          2
total_pymnt_inv                                    2
revol_bal                                          2
pub_rec                                            2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1593
bc_open_to_buy                                  1693
percent_bc_gt_75                                1694
bc_util                                         1756
hardship_flag                                   2773
num_tl_120dpd_2m                                2861
mo_sin_old_il_acct                              4480
mths_since_rcnt_il                              4480
emp_length                                     11706
mths_since_recent_inq                          16049
il_util                                        20276
emp_title                                      20949
next_pymnt_d                                   36396
mths_since_last_delinq                         72198
mths_since_recent_revol_delinq                 91632
mths_since_last_major_derog                    99234
mths_since_recent_bc_dlq                      103245
sec_app_chargeoff_within_12_mths              111632
annual_inc_joint                              111632
dti_joint                                     111632
revol_bal_joint                               111632
sec_app_earliest_cr_line                      111632
sec_app_inq_last_6mths                        111632
sec_app_mort_acc                              111632
sec_app_open_acc                              111632
sec_app_open_act_il                           111632
sec_app_num_rev_accts                         111632
sec_app_collections_12_mths_ex_med            111632
sec_app_revol_util                            111890
mths_since_last_record                        112964
verification_status_joint                     113566
hardship_payoff_balance_amount                114921
hardship_amount                               114921
hardship_last_payment_amount                  114921
orig_projected_additional_accrued_interest    114945
hardship_type                                 117692
deferral_term                                 117692
hardship_start_date                           117692
hardship_end_date                             117692
payment_plan_start_date                       117692
hardship_length                               117692
hardship_dpd                                  117692
hardship_reason                               117693
hardship_status                               117693
hardship_loan_status                          117707
sec_app_mths_since_last_major_derog           123260
settlement_amount                             127663
settlement_status                             127663
debt_settlement_flag_date                     127663
settlement_date                               127663
settlement_term                               127663
settlement_percentage                         127663
id                                            128412
desc                                          128414
url                                           128414
member_id                                     128414
dtype: int64

In [0]:
# Address the extra NaNs in each column by skipping the footer as well.

df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.isnull().sum().sort_values()

inq_fi                                             0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_rcnt_rev_tl_op                              0
collections_12_mths_ex_med                         0
mo_sin_rcnt_tl                                     0
num_accts_ever_120_pd                              0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
num_tl_30dpd                                       0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
mort_acc                                           0
last_pymnt_amnt                                    0
max_bal_bc                                         0
collection_recovery_fee                            0
earliest_cr_line                                   0
delinq_2yrs                                        0
addr_state                                         0
zip_code                                           0
title                                              0
purpose                                            0
pymnt_plan                                         0
loan_status                                        0
issue_d                                            0
inq_last_6mths                                     0
verification_status                                0
home_ownership                                     0
sub_grade                                          0
grade                                              0
installment                                        0
int_rate                                           0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
loan_amnt                                          0
annual_inc                                         0
open_acc                                           0
debt_settlement_flag                               0
total_rec_int                                      0
recoveries                                         0
total_rec_late_fee                                 0
total_rec_prncp                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
total_acc                                          0
total_pymnt_inv                                    0
revol_bal                                          0
pub_rec                                            0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
hardship_flag                                   2771
num_tl_120dpd_2m                                2859
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   36394
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_chargeoff_within_12_mths              111630
annual_inc_joint                              111630
dti_joint                                     111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_collections_12_mths_ex_med            111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
hardship_payoff_balance_amount                114919
hardship_amount                               114919
hardship_last_payment_amount                  114919
orig_projected_additional_accrued_interest    114943
hardship_type                                 117690
deferral_term                                 117690
hardship_start_date                           117690
hardship_end_date                             117690
payment_plan_start_date                       117690
hardship_length                               117690
hardship_dpd                                  117690
hardship_reason                               117691
hardship_status                               117691
hardship_loan_status                          117705
sec_app_mths_since_last_major_derog           123258
settlement_amount                             127661
settlement_status                             127661
debt_settlement_flag_date                     127661
settlement_date                               127661
settlement_term                               127661
settlement_percentage                         127661
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

In [0]:
df = df.drop(['url', 'desc', 'id', 'member_id'], axis=1)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
# Looking at the first 10 values of the int_rate column
df['int_rate'].head(10)

0     16.14%
1     11.80%
2     11.31%
3     14.47%
4     27.27%
5     16.14%
6     12.98%
7     12.98%
8     10.33%
9     23.40%
Name: int_rate, dtype: object

In [0]:
# Looking at a specific value from the int_rate column

df['int_rate'][3]

' 14.47%'

In [0]:
# Fixing a single string.

int_rate = ' 12.98%'

In [0]:
int_rate.strip()

'12.98%'

In [0]:
int_rate.strip('%')

' 12.98'

In [0]:
int_rate.strip().strip('%')

'12.98'

In [0]:
# "Casting" the string value to a float
float(int_rate.strip().strip('%'))

12.98

In [0]:
# Wrote a function that can do what I have written above to any 
# string that is passsed to it.

def int_rate_to_float(cell_contents):

  return float(cell_contents.strip().strip('%'))

In [0]:
# Testing out the function by calling it on the example
new_list = []

for cell in df['int_rate']:

  new_list.append(int_rate_to_float(cell))

In [0]:
new_list

[16.14,
 11.8,
 11.31,
 14.47,
 27.27,
 16.14,
 12.98,
 12.98,
 10.33,
 23.4,
 10.72,
 19.92,
 15.02,
 17.97,
 16.14,
 14.47,
 18.94,
 11.31,
 16.14,
 17.97,
 6.46,
 12.98,
 23.4,
 10.33,
 17.97,
 16.14,
 27.27,
 14.47,
 17.97,
 14.47,
 10.33,
 16.91,
 15.02,
 12.98,
 18.94,
 11.31,
 7.56,
 10.72,
 14.47,
 12.98,
 13.56,
 13.56,
 14.47,
 16.14,
 16.14,
 26.31,
 14.47,
 19.92,
 17.97,
 26.31,
 23.4,
 11.8,
 23.4,
 17.97,
 14.47,
 23.4,
 20.89,
 10.72,
 8.19,
 11.31,
 11.8,
 16.91,
 17.97,
 7.56,
 15.02,
 20.89,
 17.97,
 11.31,
 17.97,
 14.47,
 8.19,
 27.27,
 12.98,
 8.81,
 14.47,
 14.47,
 8.19,
 16.14,
 23.4,
 15.02,
 11.31,
 15.02,
 10.72,
 14.47,
 8.81,
 18.94,
 30.75,
 14.47,
 10.33,
 17.97,
 11.31,
 10.72,
 15.02,
 10.72,
 16.14,
 16.14,
 22.35,
 19.92,
 20.89,
 20.89,
 18.94,
 11.8,
 15.02,
 14.47,
 17.97,
 15.02,
 10.72,
 16.14,
 15.02,
 16.14,
 18.94,
 10.33,
 13.56,
 13.56,
 23.4,
 20.89,
 12.98,
 11.31,
 23.4,
 27.27,
 11.31,
 15.02,
 11.31,
 10.33,
 15.02,
 18.94,
 14.47,
 6.46,
 11.31,
 17.97,
 10.72,
 11.8,
 14.47,
 11.8,
 20.89,
 11.8,
 12.98,
 16.91,
 20.89,
 13.56,
 10.72,
 10.33,
 11.8,
 16.14,
 8.81,
 14.47,
 14.47,
 14.47,
 17.97,
 14.47,
 19.92,
 16.91,
 12.98,
 16.14,
 13.56,
 14.47,
 13.56,
 14.47,
 12.98,
 16.91,
 15.02,
 11.31,
 11.31,
 14.47,
 11.8,
 11.8,
 23.4,
 18.94,
 10.72,
 14.47,
 11.8,
 18.94,
 22.35,
 16.91,
 23.4,
 17.97,
 10.72,
 11.8,
 18.94,
 11.31,
 11.31,
 18.94,
 15.02,
 26.31,
 27.27,
 15.02,
 12.98,
 15.02,
 17.97,
 23.4,
 17.97,
 12.98,
 22.35,
 16.14,
 20.89,
 20.89,
 8.81,
 16.14,
 12.98,
 22.35,
 6.46,
 12.98,
 19.92,
 17.97,
 12.98,
 16.14,
 16.91,
 25.34,
 10.33,
 20.89,
 14.47,
 10.72,
 15.02,
 15.02,
 10.33,
 6.46,
 16.14,
 8.19,
 16.14,
 23.4,
 13.56,
 13.56,
 12.98,
 14.47,
 12.98,
 18.94,
 16.14,
 15.02,
 10.33,
 13.56,
 16.14,
 15.02,
 14.47,
 23.4,
 16.91,
 16.14,
 26.31,
 12.98,
 17.97,
 13.56,
 13.56,
 14.47,
 10.72,
 16.91,
 11.31,
 14.47,
 13.56,
 15.02,
 16.91,
 16.14,
 10.72,
 16.91,
 20.89,
 7.56,
 18.94,
 11.8,
 13.56,
 13.56,
 10.72,
 11.8,
 14.47,
 8.19,
 7.02,
 7.56,
 8.81,
 18.94,
 10.33,
 8.19,
 10.33,
 16.91,
 18.94,
 22.35,
 14.47,
 10.33,
 23.4,
 12.98,
 14.47,
 22.35,
 7.02,
 7.56,
 8.81,
 17.97,
 10.72,
 11.8,
 10.33,
 22.35,
 11.31,
 20.89,
 8.81,
 15.02,
 19.92,
 8.19,
 8.81,
 13.56,
 14.47,
 7.02,
 16.14,
 8.19,
 18.94,
 6.46,
 12.98,
 10.33,
 8.19,
 8.19,
 19.92,
 8.19,
 11.31,
 7.02,
 17.97,
 15.02,
 12.98,
 8.81,
 12.98,
 16.91,
 11.8,
 8.81,
 10.72,
 8.19,
 7.02,
 11.8,
 11.8,
 10.72,
 16.14,
 16.91,
 7.56,
 8.19,
 10.72,
 8.19,
 10.72,
 14.47,
 8.19,
 11.8,
 15.02,
 10.33,
 17.97,
 19.92,
 17.97,
 16.14,
 15.02,
 7.56,
 19.92,
 7.02,
 16.14,
 13.56,
 8.19,
 16.91,
 7.02,
 8.19,
 11.8,
 10.72,
 10.33,
 6.46,
 8.19,
 15.02,
 12.98,
 16.14,
 23.4,
 22.35,
 8.81,
 10.33,
 8.81,
 10.72,
 7.56,
 15.02,
 7.02,
 11.8,
 14.47,
 14.47,
 6.46,
 10.33,
 7.02,
 15.02,
 8.19,
 11.8,
 11.8,
 12.98,
 19.92,
 15.02,
 11.8,
 7.02,
 11.31,
 11.8,
 6.46,
 8.19,
 10.33,
 8.81,
 11.8,
 11.8,
 14.47,
 13.56,
 10.72,
 19.92,
 23.4,
 8.19,
 8.19,
 10.72,
 8.19,
 20.89,
 16.91,
 6.46,
 7.02,
 22.35,
 15.02,
 8.19,
 8.81,
 7.56,
 12.98,
 6.46,
 12.98,
 7.56,
 11.31,
 11.31,
 18.94,
 19.92,
 7.02,
 8.81,
 24.37,
 16.91,
 8.19,
 12.98,
 16.14,
 18.94,
 13.56,
 8.19,
 11.8,
 6.46,
 15.02,
 6.46,
 11.8,
 8.81,
 8.81,
 11.31,
 17.97,
 14.47,
 23.4,
 18.94,
 13.56,
 11.31,
 18.94,
 8.81,
 11.8,
 13.56,
 6.46,
 11.31,
 16.91,
 19.92,
 15.02,
 16.14,
 16.14,
 13.56,
 16.91,
 10.72,
 8.19,
 10.33,
 8.19,
 18.94,
 11.8,
 11.8,
 8.19,
 7.56,
 16.14,
 8.81,
 16.91,
 8.81,
 7.02,
 13.56,
 24.37,
 20.89,
 17.97,
 11.8,
 11.8,
 8.19,
 27.27,
 11.8,
 8.81,
 26.31,
 22.35,
 10.72,
 7.56,
 19.92,
 15.02,
 16.14,
 7.02,
 12.98,
 16.14,
 8.19,
 8.81,
 7.02,
 16.91,
 8.19,
 17.97,
 10.72,
 8.19,
 10.33,
 11.8,
 10.33,
 7.02,
 10.72,
 6.46,
 18.94,
 12.98,
 8.19,
 11.8,
 23.4,
 23.4,
 6.46,
 12.98,
 6.46,
 11.31,
 13.56,
 18.94,
 26.31,
 8.19,
 15.02,
 12.98,
 12.98,
 11.8,
 6.46,
 11.8,
 7.56,
 16.91,
 12.98,
 15.02,
 8.81,
 6.46,
 15.02,
 11.31,
 6.46,
 11.8,
 18.94,
 14.47,
 17.97,
 18.94,
 6.46,
 10.33,
 8.81,
 11.8,
 11.8,
 10.72,
 19.92,
 10.72,
 11.8,
 10.33,
 8.19,
 7.56,
 10.33,
 23.4,
 10.33,
 16.14,
 10.33,
 8.19,
 19.92,
 10.72,
 8.81,
 10.33,
 7.02,
 8.81,
 8.81,
 16.14,
 8.81,
 11.8,
 14.47,
 8.81,
 13.56,
 7.02,
 24.37,
 8.81,
 8.81,
 23.4,
 13.56,
 7.56,
 11.8,
 14.47,
 7.02,
 8.19,
 17.97,
 14.47,
 15.02,
 7.56,
 7.02,
 13.56,
 13.56,
 16.14,
 6.46,
 6.46,
 6.46,
 23.4,
 11.31,
 7.56,
 11.8,
 27.27,
 7.56,
 11.31,
 18.94,
 13.56,
 6.46,
 6.46,
 7.02,
 10.33,
 11.8,
 8.81,
 7.02,
 15.02,
 8.19,
 10.72,
 8.19,
 11.8,
 6.46,
 11.8,
 16.14,
 6.46,
 16.91,
 7.02,
 12.98,
 12.98,
 11.8,
 11.31,
 16.91,
 8.81,
 16.91,
 10.72,
 27.27,
 10.72,
 8.19,
 13.56,
 7.56,
 11.31,
 10.72,
 8.81,
 15.02,
 10.33,
 16.14,
 13.56,
 8.81,
 7.02,
 8.19,
 14.47,
 22.35,
 15.02,
 8.81,
 7.02,
 17.97,
 11.8,
 16.91,
 6.46,
 10.72,
 12.98,
 8.19,
 8.19,
 13.56,
 16.14,
 19.92,
 14.47,
 17.97,
 7.56,
 6.46,
 11.8,
 16.91,
 13.56,
 26.31,
 20.89,
 6.46,
 23.4,
 7.02,
 10.33,
 6.46,
 26.31,
 10.33,
 13.56,
 10.33,
 16.14,
 22.35,
 14.47,
 14.47,
 14.47,
 6.46,
 8.81,
 15.02,
 14.47,
 13.56,
 11.8,
 11.8,
 12.98,
 6.46,
 11.8,
 16.91,
 7.56,
 6.46,
 18.94,
 25.34,
 10.33,
 14.47,
 7.02,
 8.19,
 11.31,
 10.33,
 8.19,
 10.33,
 22.35,
 27.27,
 10.72,
 11.8,
 8.19,
 11.8,
 6.46,
 8.81,
 20.89,
 16.14,
 10.33,
 13.56,
 13.56,
 8.19,
 8.19,
 8.19,
 10.72,
 7.02,
 8.19,
 27.27,
 15.02,
 11.8,
 7.02,
 12.98,
 8.19,
 6.46,
 7.02,
 26.31,
 8.81,
 7.02,
 10.72,
 6.46,
 11.8,
 8.19,
 10.72,
 15.02,
 16.91,
 12.98,
 23.4,
 8.19,
 6.46,
 12.98,
 8.19,
 8.19,
 11.31,
 7.56,
 10.33,
 8.81,
 6.46,
 7.56,
 6.46,
 15.02,
 8.19,
 10.72,
 11.31,
 12.98,
 6.46,
 6.46,
 10.72,
 13.56,
 10.33,
 10.72,
 12.98,
 11.8,
 7.02,
 7.56,
 11.31,
 6.46,
 10.72,
 6.46,
 16.91,
 11.8,
 26.31,
 14.47,
 11.31,
 7.56,
 8.19,
 11.31,
 14.47,
 7.56,
 10.72,
 11.8,
 10.33,
 7.56,
 14.47,
 11.8,
 27.27,
 24.37,
 11.31,
 8.19,
 11.31,
 6.46,
 11.31,
 11.8,
 10.33,
 6.46,
 17.97,
 12.98,
 17.97,
 12.98,
 12.98,
 22.35,
 11.8,
 16.91,
 8.81,
 8.19,
 6.46,
 6.46,
 8.81,
 16.91,
 10.72,
 8.81,
 10.72,
 6.46,
 10.72,
 6.46,
 14.47,
 13.56,
 6.46,
 7.02,
 8.19,
 12.98,
 10.33,
 11.8,
 14.47,
 6.46,
 17.97,
 10.33,
 8.19,
 13.56,
 10.33,
 8.19,
 15.02,
 10.33,
 10.72,
 7.02,
 16.91,
 12.98,
 24.37,
 14.47,
 11.31,
 6.46,
 20.89,
 16.14,
 7.02,
 8.19,
 13.56,
 8.19,
 7.02,
 11.8,
 14.47,
 12.98,
 10.33,
 8.19,
 8.19,
 11.8,
 16.14,
 8.81,
 15.02,
 16.14,
 20.89,
 19.92,
 12.98,
 10.72,
 16.14,
 7.02,
 6.46,
 11.8,
 6.46,
 6.46,
 10.72,
 7.02,
 11.8,
 7.56,
 8.19,
 14.47,
 18.94,
 7.56,
 12.98,
 7.02,
 7.02,
 8.81,
 19.92,
 16.14,
 6.46,
 7.56,
 13.56,
 8.81,
 12.98,
 14.47,
 8.19,
 7.56,
 7.02,
 8.81,
 13.56,
 10.72,
 11.8,
 16.14,
 19.92,
 7.56,
 8.81,
 10.33,
 15.02,
 13.56,
 17.97,
 13.56,
 10.72,
 11.8,
 17.97,
 12.98,
 8.81,
 15.02,
 10.72,
 11.8,
 8.19,
 11.8,
 8.19,
 11.8,
 11.8,
 11.8,
 12.98,
 10.72,
 13.56,
 11.8,
 12.98,
 8.81,
 12.98,
 13.56,
 8.19,
 12.98,
 10.72,
 16.91,
 11.8,
 12.98,
 11.8,
 11.31,
 11.8,
 7.56,
 10.72,
 11.31,
 17.97,
 18.94,
 11.31,
 8.19,
 6.46,
 13.56,
 15.02,
 11.8,
 16.91,
 8.19,
 7.02,
 10.33,
 19.92,
 10.33,
 6.46,
 6.46,
 11.8,
 11.31,
 6.46,
 10.72,
 16.91,
 10.33,
 16.91,
 10.72,
 15.02,
 16.14,
 11.8,
 10.33,
 16.14,
 18.94,
 16.14,
 14.47,
 8.19,
 7.56,
 14.47,
 12.98,
 11.31,
 11.8,
 7.56,
 11.31,
 10.72,
 15.02,
 11.8,
 6.46,
 6.46,
 15.02,
 7.56,
 7.56,
 11.8,
 8.19,
 10.72,
 6.46,
 7.56,
 7.02,
 7.02,
 8.19,
 17.97,
 23.4,
 11.31,
 11.8,
 7.02,
 10.72,
 ...]

In [0]:
# Getting the type of data held in the new column
df['int_rate_cleaned_from_apply'] = df['int_rate'].apply(int_rate_to_float)

In [0]:
# Looking at the top 20 employment titles

df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
# Showing how many different unique employment titles there are

df['emp_title'].value_counts()

Teacher                               2090
Manager                               1773
Registered Nurse                       952
Driver                                 924
RN                                     726
                                      ...
Animal care tech.2                       1
Forecast Analyst                         1
Customer Service Associate-Library       1
Market Training Manager                  1
Director of IT Infrastructure            1
Name: emp_title, Length: 43892, dtype: int64

In [0]:
len(df['emp_title'].value_counts())

43892

In [0]:
# Show how often the employment_title is null
df['emp_title'].isnull().sum()

20947

In [0]:
# Creating some examples that represent the cases that I want to clean up
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [0]:
# Wrote a function to clean up these use cases and increase uniformity.

def clean_title(job_title):

  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [0]:
# list comprehensions combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
# A function that works as expected. applied it to a column.
# This time it will overwrite the original
df['emp_title'] = df['emp_title'].apply(clean_title)

In [0]:
# Looking at the top 20 employment titles
df['emp_title'].head(20)

0                          Sale Consultant
1                                 Educator
2                    Accounts Examiner Iii
3                                  Teacher
4                           Claims Analyst
5                         Training Manager
6                             Tire Builder
7                Program Support Assistant
8                                   Driver
9                                   Banker
10                        Business Analyst
11                                Operator
12                        Shift Supervisor
13                                  Driver
14    Assistant To The Treasurer (Payroll)
15                Reimbursement Specialist
16                       Financial Advisor
17                                Engineer
18                   Sales Account Manager
19                                     Cna
Name: emp_title, dtype: object

In [0]:
# Show how many different unique employment titles there are

df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
# Show how often the employment_title is null (NaN)

df['emp_title'].isnull().sum()

0

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [0]:
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [0]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [0]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [0]:
df['issue_y'] = df['issue_d'].dt.year

df['issue_m'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_y issue_m
0      10000        10000  ...     2018      12
1       6500         6500  ...     2018      12
2       4500         4500  ...     2018      12
3      25000        25000  ...     2018      12
4      30000        30000  ...     2018      12

[5 rows x 143 columns]

In [0]:
# Look at the datatypes of the new columns

df.dtypes[-2:]

issue_y    int64
issue_m    int64
dtype: object

In [0]:
df['earliest_cr_line'].head()

0    Mar-1991
1    Aug-2011
2    Dec-2003
3    Jan-1997
4    Dec-1997
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['issue_d'] - df['earliest_cr_line']

0        10137 days
1         2679 days
2         5479 days
3         8004 days
4         7670 days
            ...
128407   12114 days
128408   13241 days
128409    4505 days
128410    3652 days
128411    4413 days
Length: 128412, dtype: timedelta64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [0]:
#Create a function so i have a reusable piece of code that also allows me to use .apply()
#This stips away month and any blank spaces while checking if term is a string.
#It then returns an int 
def term_to_int(term):

  if isinstance(term, str):

    return int(term.strip('months').strip())

  else:

    return 0

df['term'] = df['term'].apply(term_to_int)

In [0]:
#Checking if it worked
df['term'].head(20)

0     60
1     36
2     36
3     60
4     60
5     36
6     60
7     36
8     36
9     36
10    36
11    60
12    36
13    36
14    60
15    60
16    60
17    36
18    36
19    36
Name: term, dtype: int64

In [0]:
#Function that checks whether loan is either Current/Fully Paid or not.
#Returns 1 if so or 0 if not.
def loan_status_bool(loan):

  if loan == 'Current' or loan == 'Fully Paid':

    return 1

  else:

    return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_status_bool)

In [0]:
#Check if it worked
df['loan_status_is_great'].head(20)

0     1
1     1
2     1
3     0
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: loan_status_is_great, dtype: int64

In [0]:
#Check the original data
df['loan_status'].head(20)

0      Fully Paid
1         Current
2      Fully Paid
3     Charged Off
4         Current
5         Current
6         Current
7         Current
8         Current
9      Fully Paid
10     Fully Paid
11        Current
12     Fully Paid
13        Current
14     Fully Paid
15     Fully Paid
16     Fully Paid
17        Current
18        Current
19     Fully Paid
Name: loan_status, dtype: object

In [0]:
#Changing last_pymnt_d to a datetime_format

df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

#Created a new column equal to last_pymnt_d in a month format

df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

#Created a new column equal to last_pymnt_d in a year format

df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

#Check Check 

df['last_pymnt_d_year'].head()

0    2019.0
1    2020.0
2    2019.0
3    2019.0
4    2020.0
Name: last_pymnt_d_year, dtype: float64

In [0]:
#Just doing what was shown in the lecture for the most part
#Created a function to strip blank space and percentages, then turns it into a float 


#def int_rate_to_float(cell_contents):

#  return float(cell_contents.strip().strip('%'))


#Hindsight 20/20 we already have this function and I could of used the one made earlier
#Kind of defeated the purpose of a function

def revol_util_to_float(util):

  if isinstance(util, str):

    return float(util.strip().strip('%'))

  else:

    return 'Unknown'

df['revol_util'] = df['revol_util'].apply(revol_util_to_float)

df['revol_util'].head()

0    58.5
1    41.6
2    15.3
3    45.7
4    10.7
Name: revol_util, dtype: object

In [0]:
#Never got around to doing this

new_list = df['emp_title'].value_counts().nlargest(20)

In [0]:
df['emp_title'].value_counts().nlargest(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01